{
  "openapi": "3.1.0",
  "info": {
    "title": "Rolla Developer API",
    "description": "API for programmatic payouts and transaction management on the Rolla platform.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.rolla.xyz/api/v1/external",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/banks": {
      "get": {
        "operationId": "getBanks",
        "summary": "List Banks",
        "description": "Returns a list of all Nigerian banks with their names and codes.",
        "responses": {
          "200": {
            "description": "Banks retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Banks retrieved successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "banks": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Bank"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/lookup": {
      "post": {
        "operationId": "lookupAccount",
        "summary": "Account Lookup",
        "description": "Validates a bank account number and retrieves the account holder's name.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LookupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Account details retrieved successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/LookupResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Account not found or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/payouts": {
      "post": {
        "operationId": "initiatePayout",
        "summary": "Initiate Payout",
        "description": "Initiates a bank payout to a beneficiary. The payout is processed automatically.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayoutRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payout initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Payout initiated successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/PayoutResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input or insufficient balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transactions": {
      "get": {
        "operationId": "getTransactions",
        "summary": "Get Transactions",
        "description": "Retrieves a paginated list of transactions with optional filtering.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number (default: 1)",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results per page (default: 20)",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by transaction status",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "completed",
                "failed"
              ]
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Filter transactions from this date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Filter transactions until this date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transactions retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Transactions retrieved successfully"
                    },
                    "transactions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Transaction"
                      }
                    },
                    "totalCount": {
                      "type": "integer",
                      "description": "Total number of transactions",
                      "example": 150
                    },
                    "page": {
                      "type": "integer",
                      "description": "Current page number",
                      "example": 1
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Results per page",
                      "example": 20
                    },
                    "totalPages": {
                      "type": "integer",
                      "description": "Total number of pages",
                      "example": 8
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/wallet/wallets": {
      "get": {
        "operationId": "getWallets",
        "summary": "Get Wallets",
        "description": "Retrieves all wallets for the authenticated business.",
        "parameters": [
          {
            "name": "includeLoans",
            "in": "query",
            "description": "Include loan accounts in the response",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallets retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Business wallets retrieved successfully"
                    },
                    "wallets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Wallet"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/wallet/rates": {
      "get": {
        "operationId": "getRates",
        "summary": "Get Exchange Rates",
        "description": "Retrieves current exchange rates for supported currency pairs.",
        "responses": {
          "200": {
            "description": "Rates retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Exchange rates retrieved successfully"
                    },
                    "rates": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ExchangeRate"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/wallet/supported-currencies": {
      "get": {
        "operationId": "getSupportedCurrencies",
        "summary": "Get Supported Currencies",
        "description": "Retrieves the list of currencies supported on the platform.",
        "responses": {
          "200": {
            "description": "Supported currencies retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Supported currencies retrieved successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "currencies": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "code": {
                                "type": "string",
                                "example": "NGN"
                              },
                              "name": {
                                "type": "string",
                                "example": "Nigerian Naira"
                              },
                              "symbol": {
                                "type": "string",
                                "example": "₦"
                              },
                              "status": {
                                "type": "string",
                                "example": "active"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/wallet/transfer": {
      "post": {
        "operationId": "rollaTransfer",
        "summary": "Rolla Transfer",
        "description": "Send funds to another Rolla business instantly and fee-free. Identify the recipient by email, Rolla tag, or a saved beneficiaryId.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["amount", "currency", "destinationCurrency"],
                "properties": {
                  "amount": {
                    "type": "number",
                    "description": "Amount in major units (e.g. 100 = $100)",
                    "example": 100
                  },
                  "currency": {
                    "type": "string",
                    "description": "Source currency code",
                    "example": "USD"
                  },
                  "destinationCurrency": {
                    "type": "string",
                    "description": "Recipient currency code",
                    "example": "USD"
                  },
                  "recipient": {
                    "type": "string",
                    "description": "Recipient email or Rolla tag. Required if beneficiaryId not provided.",
                    "example": "partner@example.com"
                  },
                  "beneficiaryId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Saved beneficiary ID with withdrawal_method rolla_transfer. Required if recipient not provided."
                  },
                  "description": {
                    "type": "string",
                    "description": "Transfer description",
                    "maxLength": 500,
                    "example": "Invoice payment"
                  },
                  "saveBeneficiary": {
                    "type": "boolean",
                    "description": "Auto-save the recipient as a beneficiary for future transfers"
                  },
                  "rateToken": {
                    "type": "string",
                    "description": "Required for cross-currency transfers. Obtain from GET /wallet/rates."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transfer initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "integer", "example": 200 },
                    "success": { "type": "boolean", "example": true },
                    "message": { "type": "string", "example": "Transfer initiated successfully" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "transfer_reference": { "type": "string", "example": "TRANSFER-1712345678-abc12345" },
                        "sender_transaction": { "$ref": "#/components/schemas/Transaction" },
                        "recipient_transaction": {
                          "oneOf": [
                            { "$ref": "#/components/schemas/Transaction" },
                            { "type": "null" }
                          ],
                          "description": "Null if pending_claim is set"
                        },
                        "pending_claim": {
                          "type": "object",
                          "nullable": true,
                          "description": "Set when the recipient email matches multiple Rolla businesses. Funds are held until claimed.",
                          "properties": {
                            "id": { "type": "string", "format": "uuid" },
                            "recipient_email": { "type": "string" },
                            "amount": { "type": "integer" },
                            "currency": { "type": "string" },
                            "status": { "type": "string", "enum": ["pending", "claimed", "expired"] }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — insufficient balance, invalid recipient, or missing fields",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/wallet/swap": {
      "post": {
        "operationId": "swapCurrency",
        "summary": "Swap Currency",
        "description": "Swaps funds from one currency to another at the current exchange rate.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SwapRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Swap completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Swap completed successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "transaction": {
                          "$ref": "#/components/schemas/Transaction"
                        },
                        "fromAmount": {
                          "type": "number",
                          "description": "Amount debited from source currency",
                          "example": 1000
                        },
                        "toAmount": {
                          "type": "number",
                          "description": "Amount credited to destination currency",
                          "example": 1550000
                        },
                        "rate": {
                          "type": "number",
                          "description": "Exchange rate applied",
                          "example": 1550.0
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid currencies or insufficient balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/wallet/withdraw": {
      "post": {
        "operationId": "withdraw",
        "summary": "Withdraw Funds",
        "description": "Initiates a withdrawal from your wallet to a beneficiary. Either `beneficiaryId` or `inlineBeneficiary` must be provided. For USD international_wire, send as multipart/form-data and attach reference documents under the `documents` field.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WithdrawalRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Withdrawal initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "example": 200
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Withdrawal initiated successfully"
                    },
                    "transaction": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string", "format": "uuid" },
                        "transaction_type": { "type": "string", "example": "withdrawal" },
                        "status": { "type": "string", "example": "pending" },
                        "description": { "type": "string" },
                        "external_reference": { "type": "string" },
                        "fee_amount": { "type": "number", "example": 25 },
                        "source_amount": { "type": "number", "example": 5000 },
                        "destination_amount": { "type": "number", "example": 4975 },
                        "source_currency": { "type": "string", "example": "NGN" },
                        "destination_currency": { "type": "string", "example": "NGN" },
                        "created_at": { "type": "string", "format": "date-time" },
                        "updated_at": { "type": "string", "format": "date-time" },
                        "beneficiary": {
                          "type": "object",
                          "properties": {
                            "bank_name": { "type": "string" },
                            "bank_code": { "type": "string" },
                            "account_name": { "type": "string" },
                            "account_number": { "type": "string" }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input or insufficient balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/wallet/fee": {
      "post": {
        "operationId": "getTransactionFee",
        "summary": "Get Transaction Fee",
        "description": "Calculates the fee for a given transaction type, currency, and amount.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionFeeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fee calculated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Fee calculated successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "fee": {
                          "type": "number",
                          "example": 50
                        },
                        "currency": {
                          "type": "string",
                          "example": "NGN"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/wallet/transactions": {
      "get": {
        "operationId": "getWalletTransactions",
        "summary": "Get Wallet Transactions",
        "description": "Retrieves a paginated list of wallet transactions with optional filtering.",
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "description": "Filter by 3-letter currency code",
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 3
            }
          },
          {
            "name": "transactionType",
            "in": "query",
            "description": "Filter by transaction type",
            "schema": {
              "type": "string",
              "enum": [
                "deposit",
                "withdrawal",
                "swap"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "completed",
                "failed",
                "rejected",
                "sent"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (default: 1)",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Results per page (default: 20, max: 100)",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date filter (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date filter (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search term to filter transactions",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transactions retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Transaction history retrieved successfully"
                    },
                    "transactions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Transaction"
                      }
                    },
                    "totalCount": {
                      "type": "integer",
                      "description": "Total number of transactions",
                      "example": 150
                    },
                    "page": {
                      "type": "integer",
                      "description": "Current page number",
                      "example": 1
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Results per page",
                      "example": 20
                    },
                    "totalPages": {
                      "type": "integer",
                      "description": "Total number of pages",
                      "example": 8
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/wallet/transactions/export": {
      "get": {
        "operationId": "exportWalletTransactions",
        "summary": "Export Transactions",
        "description": "Exports wallet transactions as a downloadable file with optional filtering.",
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "description": "Filter by 3-letter currency code",
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 3
            }
          },
          {
            "name": "transactionType",
            "in": "query",
            "description": "Filter by transaction type",
            "schema": {
              "type": "string",
              "enum": [
                "deposit",
                "withdrawal",
                "swap"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "completed",
                "failed",
                "rejected",
                "sent"
              ]
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date filter (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date filter (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transactions exported successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Transactions exported successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri",
                          "description": "Download URL for the exported file"
                        },
                        "format": {
                          "type": "string",
                          "description": "File format",
                          "example": "csv"
                        },
                        "totalRecords": {
                          "type": "integer",
                          "description": "Number of transactions exported",
                          "example": 150
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/wallet/transaction/{transactionId}": {
      "get": {
        "operationId": "getWalletTransaction",
        "summary": "Get Transaction",
        "description": "Retrieves details of a specific wallet transaction by ID.",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "description": "Transaction UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Transaction retrieved successfully"
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "transaction_type": {
                      "type": "string",
                      "enum": ["deposit", "withdrawal", "swap"]
                    },
                    "status": {
                      "type": "string",
                      "enum": ["pending", "completed", "failed", "rejected", "sent", "processing"]
                    },
                    "description": {
                      "type": "string"
                    },
                    "external_reference": {
                      "type": "string",
                      "nullable": true
                    },
                    "fee_amount": {
                      "type": "number"
                    },
                    "source_amount": {
                      "type": "number"
                    },
                    "destination_amount": {
                      "type": "number"
                    },
                    "source_currency": {
                      "type": "string"
                    },
                    "destination_currency": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/wallet/statement": {
      "get": {
        "operationId": "getStatement",
        "summary": "Get Statement",
        "description": "Retrieves wallet statement data for generating account statements.",
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["NGN", "USD", "XAF"],
              "example": "NGN"
            },
            "description": "Currency of the wallet to generate the statement for"
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2026-01-01"
            },
            "description": "Start date in YYYY-MM-DD format. Defaults to 1 month ago."
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2026-02-26"
            },
            "description": "End date in YYYY-MM-DD format. Defaults to today."
          },
          {
            "name": "accountType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by account type"
          }
        ],
        "responses": {
          "200": {
            "description": "Statement data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Statement data retrieved successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "businessName": {
                          "type": "string",
                          "description": "Business name",
                          "example": "Acme Corp Ltd"
                        },
                        "currency": {
                          "type": "string",
                          "example": "NGN"
                        },
                        "openingBalance": {
                          "type": "number",
                          "description": "Balance at start of period",
                          "example": 500000
                        },
                        "closingBalance": {
                          "type": "number",
                          "description": "Balance at end of period",
                          "example": 1000000
                        },
                        "totalCredits": {
                          "type": "number",
                          "description": "Total deposits during period",
                          "example": 750000
                        },
                        "totalDebits": {
                          "type": "number",
                          "description": "Total withdrawals during period",
                          "example": 250000
                        },
                        "transactions": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Transaction"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/wallet/virtual-accounts/generate/dynamic": {
      "post": {
        "operationId": "generateDynamicVirtualAccount",
        "summary": "Generate Dynamic Virtual Account",
        "description": "Generates a dynamic (one-time) NGN virtual account. If an active dynamic account already exists and hasn't expired, it will be returned instead.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": { "type": "number", "example": 500000, "description": "Expected deposit amount in kobo. Recommended for amount-specific accounts." }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Dynamic virtual account generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "integer", "example": 201 },
                    "success": { "type": "boolean", "example": true },
                    "message": { "type": "string", "example": "Dynamic virtual account generated successfully" },
                    "virtualAccount": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string", "format": "uuid" },
                        "status": { "type": "string", "example": "active" },
                        "virtual_account_type": { "type": "string", "example": "dynamic" },
                        "currency_type": { "type": "string", "example": "fiat" },
                        "bank_name": { "type": "string", "example": "VFD MFB" },
                        "account_number": { "type": "string", "example": "1234567890" },
                        "account_name": { "type": "string", "example": "Rolla / Your Business Name" },
                        "expires_at": { "type": "string", "format": "date-time", "nullable": true }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/wallet/virtual-accounts/generate/static": {
      "post": {
        "operationId": "generateStaticVirtualAccount",
        "summary": "Generate Static Virtual Account",
        "description": "Generates a permanent static NGN virtual account for your business. Only one static virtual account can exist — this will return an error if one already exists.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Static virtual account generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "integer", "example": 201 },
                    "success": { "type": "boolean", "example": true },
                    "message": { "type": "string", "example": "Static virtual account generated successfully" },
                    "virtualAccount": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string", "format": "uuid" },
                        "status": { "type": "string", "example": "active" },
                        "virtual_account_type": { "type": "string", "example": "static" },
                        "currency_type": { "type": "string", "example": "fiat" },
                        "bank_name": { "type": "string", "example": "VFD MFB" },
                        "account_number": { "type": "string", "example": "1234567890" },
                        "account_name": { "type": "string", "example": "Rolla / Your Business Name" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request or account already exists", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/wallet/virtual-accounts": {
      "get": {
        "operationId": "getVirtualAccounts",
        "summary": "Get Virtual Accounts",
        "description": "Retrieves virtual accounts for receiving payments.",
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "description": "Filter by 3-letter currency code",
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 3
            }
          },
          {
            "name": "virtualAccountType",
            "in": "query",
            "description": "Filter by account type",
            "schema": {
              "type": "string",
              "enum": [
                "static",
                "dynamic"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Virtual accounts retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Virtual accounts retrieved successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "virtualAccounts": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/VirtualAccount"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/wallet/loans": {
      "get": {
        "operationId": "getLoanAccounts",
        "summary": "Get Loan Accounts",
        "description": "Retrieves all loan accounts for the authenticated business.",
        "responses": {
          "200": {
            "description": "Loan accounts retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Loan accounts retrieved successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "loans": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/LoanAccount"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/wallet/loans/draw": {
      "post": {
        "operationId": "drawLoanFunds",
        "summary": "Draw Loan Funds",
        "description": "Draws funds from a loan account into a destination wallet.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DrawLoanRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Loan funds drawn successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Loan funds drawn successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "transaction": {
                          "$ref": "#/components/schemas/Transaction"
                        },
                        "loanBalance": {
                          "type": "number",
                          "description": "Updated loan balance after draw",
                          "example": 2050000
                        },
                        "availableBalance": {
                          "type": "number",
                          "description": "Remaining available loan credit",
                          "example": 2950000
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input or insufficient loan balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/wallet/loans/repay": {
      "post": {
        "operationId": "repayLoan",
        "summary": "Repay Loan",
        "description": "Repays a loan from a source wallet.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RepayLoanRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Loan repayment successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Loan repayment successful"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "transaction": {
                          "$ref": "#/components/schemas/Transaction"
                        },
                        "loanBalance": {
                          "type": "number",
                          "description": "Updated loan balance after repayment",
                          "example": 1975000
                        },
                        "availableBalance": {
                          "type": "number",
                          "description": "Updated available loan credit",
                          "example": 3025000
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input or insufficient wallet balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/beneficiaries": {
      "get": {
        "operationId": "listBeneficiaries",
        "summary": "List Beneficiaries",
        "description": "Retrieves a paginated list of saved beneficiaries for the business.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number (default: 1)",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Results per page (default: 20, max: 100)",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "currency",
            "in": "query",
            "description": "Filter by currency code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search by name or account number",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Beneficiaries retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Beneficiaries retrieved successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "beneficiaries": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/SavedBeneficiary"
                          }
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createBeneficiary",
        "summary": "Create Beneficiary",
        "description": "Creates a new saved beneficiary for the business.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BeneficiaryRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Beneficiary created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Beneficiary created successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "beneficiary": {
                          "$ref": "#/components/schemas/SavedBeneficiary"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/beneficiaries/{beneficiaryId}": {
      "get": {
        "operationId": "getBeneficiary",
        "summary": "Get Beneficiary",
        "description": "Retrieves a specific beneficiary by ID.",
        "parameters": [
          {
            "name": "beneficiaryId",
            "in": "path",
            "required": true,
            "description": "Beneficiary UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Beneficiary retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Beneficiary retrieved successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "beneficiary": {
                          "$ref": "#/components/schemas/SavedBeneficiary"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Beneficiary not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateBeneficiary",
        "summary": "Update Beneficiary",
        "description": "Updates an existing beneficiary's details.",
        "parameters": [
          {
            "name": "beneficiaryId",
            "in": "path",
            "required": true,
            "description": "Beneficiary UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BeneficiaryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Beneficiary updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Beneficiary updated successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "beneficiary": {
                          "$ref": "#/components/schemas/SavedBeneficiary"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Beneficiary not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteBeneficiary",
        "summary": "Delete Beneficiary",
        "description": "Deletes a saved beneficiary.",
        "parameters": [
          {
            "name": "beneficiaryId",
            "in": "path",
            "required": true,
            "description": "Beneficiary UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Beneficiary deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Beneficiary deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Beneficiary not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/beneficiaries/nigerian-banks": {
      "get": {
        "operationId": "getBeneficiaryNigerianBanks",
        "summary": "List Nigerian Banks",
        "description": "Returns a list of Nigerian banks for beneficiary creation. Same data as /banks.",
        "responses": {
          "200": {
            "description": "Banks retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Banks retrieved successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "banks": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Bank"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/beneficiaries/beneficiary-lookup": {
      "post": {
        "operationId": "beneficiaryLookup",
        "summary": "Beneficiary Lookup",
        "description": "Validates a bank account and retrieves account holder details for beneficiary creation.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LookupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Account details retrieved successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/LookupResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Account not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/teams/roles": {
      "get": {
        "operationId": "getTeamRoles",
        "summary": "Get Available Roles",
        "description": "Retrieves the list of available roles that can be assigned to team members.",
        "responses": {
          "200": {
            "description": "Roles retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Roles retrieved successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "roles": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/TeamRole"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/teams/invite": {
      "post": {
        "operationId": "inviteTeamMember",
        "summary": "Invite Team Member",
        "description": "Sends an invitation to a new team member via email.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamInviteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invitation sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Invitation sent successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "userId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "fullname": {
                          "type": "string"
                        },
                        "isNewUser": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/teams/members": {
      "get": {
        "operationId": "getTeamMembers",
        "summary": "Get Team Members",
        "description": "Retrieves a paginated list of team members for the business.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number (default: 1)",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Results per page (default: 10, max: 100)",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search by name or email",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by member status",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "inactive"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Team members retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Team members retrieved successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "members": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/TeamMember"
                          }
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/teams/members/{userId}": {
      "delete": {
        "operationId": "removeTeamMember",
        "summary": "Remove Team Member",
        "description": "Removes a team member from the business. Cannot remove yourself or the business owner.",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "User UUID of the team member to remove",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Team member removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Team member removed successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Cannot remove self or business owner",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Team member not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/teams/members/{userId}/role": {
      "post": {
        "operationId": "assignTeamMemberRole",
        "summary": "Assign Role to Member",
        "description": "Assigns a role to an existing team member. Use `GET /teams/roles` to retrieve available role IDs.",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "User UUID of the team member",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssignMemberRoleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Role assigned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Role assigned successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid role ID or user not a member of this business",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/teams/members/{userId}/status": {
      "patch": {
        "operationId": "updateTeamMemberStatus",
        "summary": "Update Member Status",
        "description": "Activates or deactivates a team member. Only business owners can update member status.",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "User UUID of the team member",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMemberStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member status updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Member status updated successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Cannot update owner status or pending invites",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Team member not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/broker/referral-link": {
      "get": {
        "operationId": "getReferralLink",
        "summary": "Get Referral Link",
        "description": "Retrieves the existing referral link for the authenticated business.",
        "responses": {
          "200": {
            "description": "Referral link retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Referral link retrieved successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/ReferralLink"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Business is not activated as a broker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createReferralLink",
        "summary": "Create Referral Link",
        "description": "Generates a new referral link for the authenticated business.",
        "responses": {
          "200": {
            "description": "Referral link created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Referral link created successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/ReferralLink"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Business is not activated as a broker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/broker/referred-businesses": {
      "get": {
        "operationId": "getReferredBusinesses",
        "summary": "Get Referred Businesses",
        "description": "Retrieves a paginated list of businesses referred by the authenticated broker.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number (default: 1)",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Results per page (default: 20, max: 100)",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by referral status",
            "schema": {
              "type": "string",
              "enum": [
                "started",
                "completed",
                "created",
                "approved"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Referred businesses retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Referred businesses retrieved successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "businesses": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ReferredBusiness"
                          }
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Business is not activated as a broker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/broker/commissions": {
      "get": {
        "operationId": "getCommissions",
        "summary": "Get Commissions",
        "description": "Retrieves a paginated list of commissions earned from referrals.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number (default: 1)",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Results per page (default: 20, max: 100)",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date filter (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date filter (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "description": "Filter by 3-letter currency code (uppercase)",
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 3,
              "example": "USD"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Commissions retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Commissions retrieved successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "commissions": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Commission"
                          }
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Business is not activated as a broker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/broker/referral-stats": {
      "get": {
        "operationId": "getReferralStats",
        "summary": "Get Referral Stats",
        "description": "Retrieves aggregate referral statistics including total commissions and referral count.",
        "responses": {
          "200": {
            "description": "Referral stats retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Referral stats retrieved successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "totalCommissions": {
                          "type": "object",
                          "description": "Total commissions earned, broken down by currency",
                          "additionalProperties": {
                            "type": "number"
                          },
                          "example": {
                            "USD": 1500.5,
                            "NGN": 250000
                          }
                        },
                        "totalReferrals": {
                          "type": "integer",
                          "example": 15
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Business is not activated as a broker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/kyb": {
      "get": {
        "operationId": "getKybApplication",
        "summary": "Get KYB Application",
        "description": "Retrieves the KYB application for the authenticated business.",
        "responses": {
          "200": {
            "description": "Application retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Application retrieved successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "application": {
                          "$ref": "#/components/schemas/KybApplication"
                        }
[...]
