{
  "openapi": "3.1.0",
  "info": {
    "title": "Rolla Developer API",
    "description": "API for programmatic transaction management on the Rolla platform. Monetary `amount` fields use the smallest unit of the referenced currency unless an endpoint says otherwise (e.g. NGN = kobo, USD = cents, where **100 cents = USD 1.00**).",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.rolla.xyz/api/v1/external",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/banks": {
      "get": {
        "operationId": "getBanks",
        "summary": "List Banks",
        "description": "Returns every Nigerian bank supported on the platform, with its name and NIP institution code. Use `bankCode` when looking an account up or saving an NGN beneficiary.",
        "responses": {
          "200": {
            "description": "Banks retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Banks retrieved successfully"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "banks": {
                          "type": "array",
                          "description": "The full list, in alphabetical order by bank name.",
                          "items": {
                            "$ref": "#/components/schemas/Bank"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": 200,
                  "message": "Banks retrieved successfully",
                  "success": true,
                  "data": {
                    "banks": [
                      {
                        "bankName": "Access Bank",
                        "bankCode": "000014"
                      },
                      {
                        "bankName": "GTBank",
                        "bankCode": "000013"
                      },
                      {
                        "bankName": "Zenith Bank",
                        "bankCode": "000015"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "The bank list could not be read",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/lookup": {
      "post": {
        "operationId": "lookupAccount",
        "summary": "Account Lookup",
        "description": "Validates a Nigerian bank account number and returns the account holder's name from NIP name enquiry. Nigerian accounts only.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LookupRequest"
              },
              "example": {
                "bankCode": "000014",
                "accountNumber": "0123456789"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Account details retrieved successfully"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/LookupResponse"
                    }
                  }
                },
                "example": {
                  "status": 200,
                  "message": "Account details retrieved successfully",
                  "success": true,
                  "data": {
                    "accountNumber": "0123456789",
                    "accountName": "JOHN DOE",
                    "bankCode": "000014",
                    "bankName": "Access Bank",
                    "bvn": "",
                    "accountNameVerified": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — a missing bank code or account number, or a currency other than NGN",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 400,
                  "message": "Account number is required"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No bank recognises that account number",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 404,
                  "message": "Account not found. Please verify the account number and bank are correct."
                }
              }
            }
          },
          "500": {
            "description": "The name enquiry could not be completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transactions": {
      "get": {
        "operationId": "getTransactions",
        "summary": "List Transactions",
        "description": "A page of your transactions, newest first. Filters on status and a date range only; use `GET /wallet/transactions` to also filter by currency, type or reference.\n\nTransactions with status `failed` are left out unless you ask for them with `status=failed`.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number, starting at 1."
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 20
            },
            "description": "Rows per page."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "pending",
                "processing",
                "completed",
                "sent",
                "failed",
                "rejected",
                "refunded",
                "negotiating",
                "cancelled",
                "exception"
              ],
              "example": "completed"
            },
            "description": "Filter by status. `completed` also returns pending transactions operations have already claimed, which are reported as completed."
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2024-01-01"
            },
            "description": "Inclusive start, `YYYY-MM-DD` or a full ISO-8601 timestamp."
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2024-01-31"
            },
            "description": "Inclusive end, `YYYY-MM-DD` or a full ISO-8601 timestamp."
          }
        ],
        "responses": {
          "200": {
            "description": "A page of transactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message",
                    "success",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Transactions retrieved successfully"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/TransactionList"
                    }
                  }
                },
                "example": {
                  "status": 200,
                  "message": "Transactions retrieved successfully",
                  "success": true,
                  "data": {
                    "transactions": [
                      {
                        "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                        "transaction_type": "withdrawal",
                        "status": "completed",
                        "description": "Vendor payment",
                        "external_reference": "ref-abc123",
                        "fee_amount": 53,
                        "source_amount": 500000,
                        "destination_amount": 499947,
                        "source_currency": "NGN",
                        "destination_currency": "NGN",
                        "created_at": "2024-01-15T10:30:00.000Z",
                        "updated_at": "2024-01-15T10:30:45.000Z"
                      },
                      {
                        "id": "5f1c9d0a-2b73-4e86-9a5c-3d8f1e6b0c42",
                        "transaction_type": "deposit",
                        "status": "completed",
                        "description": "Deposit from Acme Trading Ltd",
                        "external_reference": "US-DEP-7K4M2B",
                        "fee_amount": 0,
                        "source_amount": 2500000,
                        "destination_amount": 2500000,
                        "source_currency": "USD",
                        "destination_currency": "USD",
                        "payment_rail": "wire_international",
                        "virtual_account": {
                          "id": "9c4e1f77-3a25-4d80-b6f1-0e7a2b5c8d93",
                          "currency": "USD",
                          "method": "bank_transfer",
                          "bank_name": "Lead Bank",
                          "account_number": "9876543210",
                          "account_name": "Acme Ltd / Rolla",
                          "routing_number": "021000021",
                          "swift_code": "LEADUS33"
                        },
                        "payer": {
                          "name": "Acme Trading Ltd",
                          "account_number": "5551234567",
                          "bank_name": "HSBC",
                          "country": "Hong Kong"
                        },
                        "created_at": "2024-01-15T11:02:00.000Z",
                        "updated_at": "2024-01-15T11:02:10.000Z"
                      }
                    ],
                    "totalCount": 150,
                    "page": 1,
                    "pageSize": 20,
                    "totalPages": 8
                  }
                }
              }
            }
          },
          "400": {
            "description": "Business context missing, or the listing could not be built",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/wallet/wallets": {
      "get": {
        "operationId": "getWallets",
        "summary": "Get Wallets",
        "description": "Retrieves every currency wallet for the authenticated business, with balances in smallest units and the payment accounts that receive funds into each wallet. Loan accounts are never included; read them from GET /wallet/loans.",
        "responses": {
          "200": {
            "description": "Wallets retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message",
                    "success",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Business wallets retrieved successfully"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "wallets": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Wallet"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": 200,
                  "message": "Business wallets retrieved successfully",
                  "success": true,
                  "data": {
                    "wallets": [
                      {
                        "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                        "name": "NGN Wallet",
                        "currency": "NGN",
                        "balance": {
                          "availableBalance": 950000,
                          "postedBalance": 1000000,
                          "pendingBalance": 50000,
                          "lienAmount": 0
                        },
                        "virtualAccounts": [
                          {
                            "id": "7f1c2a90-3b4d-4e5f-8a9b-0c1d2e3f4a5b",
                            "status": "active",
                            "virtual_account_type": "static",
                            "currency_type": "fiat",
                            "bank_name": "Wema Bank",
                            "account_number": "0123456789",
                            "account_name": "Rolla / Your Business Name"
                          }
                        ]
                      },
                      {
                        "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
                        "name": "USD Wallet",
                        "currency": "USD",
                        "balance": {
                          "availableBalance": 5000,
                          "postedBalance": 5000,
                          "pendingBalance": 0,
                          "lienAmount": 0
                        },
                        "virtualAccounts": [
                          {
                            "id": "8e2d3b01-4c5e-4f60-9b0c-1d2e3f4a5b6c",
                            "status": "active",
                            "virtual_account_type": "static",
                            "currency_type": "fiat",
                            "bank_name": "Bank of America",
                            "account_number": "9876543210",
                            "account_name": "Rolla / Your Business Name",
                            "routing_number": "101019644",
                            "bank_address": {
                              "street": "1801 Main St",
                              "city": "Kansas City",
                              "state": "MO",
                              "postalCode": "64108",
                              "country": "US"
                            },
                            "swift_code": "LEADUS44"
                          }
                        ]
                      },
                      {
                        "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
                        "name": "USDT Wallet",
                        "currency": "USDT",
                        "balance": {
                          "availableBalance": 1200,
                          "postedBalance": 1200,
                          "pendingBalance": 0,
                          "lienAmount": 0
                        },
                        "virtualAccounts": [
                          {
                            "id": "9d3e4c12-5d6f-4a71-8c1d-2e3f4a5b6c7d",
                            "status": "active",
                            "virtual_account_type": "static",
                            "currency_type": "crypto",
                            "stablecoin_type": "USDT",
                            "wallet_address": "0xAbCdEf1234567890abcdef1234567890AbCdEf12",
                            "wallet_chain": "ethereum"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Wallets could not be read",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/wallet/rates": {
      "get": {
        "operationId": "getRates",
        "summary": "Get Exchange Rates",
        "description": "Retrieves the current rate for every corridor enabled for your business, each with a rateToken that locks it in for a swap.",
        "responses": {
          "200": {
            "description": "Rates retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message",
                    "success",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Exchange rates retrieved successfully"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "rates": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ExchangeRate"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": 200,
                  "message": "Exchange rates retrieved successfully",
                  "success": true,
                  "data": {
                    "rates": [
                      {
                        "fromCurrency": "NGN",
                        "toCurrency": "USD",
                        "rate": 0.0006292157,
                        "rateToken": "eyJhbGci..."
                      },
                      {
                        "fromCurrency": "XAF",
                        "toCurrency": "USD",
                        "rate": 0.0017606254,
                        "rateToken": "eyJhbGci..."
                      },
                      {
                        "fromCurrency": "USD",
                        "toCurrency": "NGN",
                        "rate": 1405.3992,
                        "rateToken": "eyJhbGci..."
                      },
                      {
                        "fromCurrency": "USD",
                        "toCurrency": "XAF",
                        "rate": 556,
                        "rateToken": "eyJhbGci..."
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Exchange rates could not be read",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/wallet/supported-currencies": {
      "get": {
        "operationId": "getSupportedCurrencies",
        "summary": "Get Supported Currencies",
        "description": "Retrieves the active currencies supported on the platform, ordered by code.",
        "responses": {
          "200": {
            "description": "Supported currencies retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message",
                    "success",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Supported currencies retrieved successfully"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "currencies": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "code": {
                                "type": "string",
                                "example": "NGN"
                              },
                              "name": {
                                "type": "string",
                                "example": "Nigerian Naira"
                              },
                              "symbol": {
                                "type": "string",
                                "example": "₦"
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "active"
                                ],
                                "example": "active"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": 200,
                  "message": "Supported currencies retrieved successfully",
                  "success": true,
                  "data": {
                    "currencies": [
                      {
                        "id": "ec215945-2f96-4199-8908-202796cc60c6",
                        "code": "NGN",
                        "name": "Nigerian Naira",
                        "symbol": "₦",
                        "status": "active"
                      },
                      {
                        "id": "d9628547-2973-4e03-bcb9-ea141c65b727",
                        "code": "USD",
                        "name": "US Dollar",
                        "symbol": "$",
                        "status": "active"
                      },
                      {
                        "id": "99a9df9b-7c1c-40ba-81a5-c6ac752c0904",
                        "code": "USDC",
                        "name": "USD Coin",
                        "symbol": "$",
                        "status": "active"
                      },
                      {
                        "id": "07114127-c2d7-4022-b978-42eafdc433e6",
                        "code": "USDT",
                        "name": "Tether",
                        "symbol": "$",
                        "status": "active"
                      },
                      {
                        "id": "e9c1b4cf-efe6-489d-b1ed-7eb89dfd23dd",
                        "code": "XAF",
                        "name": "Central African CFA Franc",
                        "symbol": "FCFA",
                        "status": "active"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Supported currencies could not be read",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/wallet/transfer": {
      "post": {
        "operationId": "rollaTransfer",
        "summary": "Rolla Transfer",
        "description": "Send funds to another Rolla business instantly and fee-free. Identify the recipient by email, Rolla tag, or a saved beneficiaryId. Requires an API key with at least one whitelisted IP.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount",
                  "currency",
                  "destinationCurrency"
                ],
                "description": "Either `recipient` or `beneficiaryId` is required.",
                "properties": {
                  "amount": {
                    "type": "number",
                    "description": "Amount in the smallest currency unit for the given `currency` (e.g. kobo for NGN, cents for USD — 100 cents = $1.00 USD). Must be a whole number and at least 1.",
                    "minimum": 1,
                    "example": 100
                  },
                  "currency": {
                    "type": "string",
                    "description": "Source currency code",
                    "minLength": 3,
                    "maxLength": 4,
                    "example": "USD"
                  },
                  "destinationCurrency": {
                    "type": "string",
                    "description": "Recipient currency code. Differ it from `currency` for a cross-currency transfer.",
                    "minLength": 3,
                    "maxLength": 4,
                    "example": "USD"
                  },
                  "recipient": {
                    "type": "string",
                    "description": "Recipient email or Rolla tag. Required if beneficiaryId not provided.",
                    "example": "partner@example.com"
                  },
                  "beneficiaryId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Saved beneficiary ID with withdrawal_method rolla_transfer. Required if recipient not provided."
                  },
                  "description": {
                    "type": "string",
                    "description": "Transfer description. Defaults to \"In-network transfer\" when omitted or blank.",
                    "maxLength": 500,
                    "example": "Invoice payment"
                  },
                  "saveBeneficiary": {
                    "type": "boolean",
                    "description": "Auto-save the recipient as a beneficiary for future transfers"
                  },
                  "rateToken": {
                    "type": "string",
                    "description": "Required when `destinationCurrency` differs from `currency`. Obtain from GET /wallet/rates."
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Your own key/value data, stored on the transfer and returned on the transaction and its webhooks. Always returned on the sending side; returned on the receiving side only when both accounts belong to the same owner. At most 20 keys (up to 64 characters each); values are a string (up to 500 characters), number, boolean or null — no nested objects or arrays.",
                    "maxProperties": 20,
                    "additionalProperties": {
                      "type": [
                        "string",
                        "number",
                        "boolean",
                        "null"
                      ]
                    },
                    "example": {
                      "original_payer": "Contoso Retail UK Ltd",
                      "order_id": "ORD-88213"
                    }
                  }
                }
              },
              "example": {
                "amount": 100,
                "currency": "USD",
                "destinationCurrency": "USD",
                "recipient": "partner@example.com",
                "description": "Invoice payment",
                "saveBeneficiary": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transfer initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Transfer initiated successfully"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "transfer_reference": {
                          "type": "string",
                          "description": "Shared reference linking both legs. Each leg carries it as its own `external_reference` suffixed with `-DEBIT` or `-CREDIT`.",
                          "example": "TRANSFER-1712345678-abc12345"
                        },
                        "sender_transaction": {
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/Transaction"
                            }
                          ],
                          "description": "The debit on your wallet. `transaction_type` is `withdrawal`, or `fx_withdrawal` on a cross-currency transfer."
                        },
                        "recipient_transaction": {
                          "oneOf": [
                            {
                              "$ref": "#/components/schemas/Transaction"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "description": "The credit on the recipient's wallet, with `transaction_type` `deposit`. Null while the transfer is an unclaimed pending claim."
                        },
                        "pending_claim": {
                          "type": "object",
                          "nullable": true,
                          "description": "Set when the recipient email matches more than one Rolla business, so the funds are held until the recipient signs in and claims them. Null otherwise.",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "sender_transaction_id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "recipient_transaction_id": {
                              "type": "string",
                              "format": "uuid",
                              "nullable": true,
                              "description": "Null until the transfer is claimed — the recipient transaction is created at claim time."
                            },
                            "recipient_email": {
                              "type": "string",
                              "example": "partner@example.com"
                            },
                            "recipient_user_id": {
                              "type": "string",
                              "format": "uuid",
                              "nullable": true
                            },
                            "amount": {
                              "type": "number",
                              "description": "Held amount in the smallest unit of `currency`."
                            },
                            "currency": {
                              "type": "string",
                              "example": "USD"
                            },
                            "sender_business_id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "sender_business_name": {
                              "type": "string"
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "pending",
                                "claimed",
                                "expired"
                              ],
                              "example": "pending"
                            },
                            "claimed_business_id": {
                              "type": "string",
                              "format": "uuid",
                              "nullable": true
                            },
                            "claimed_at": {
                              "type": "string",
                              "format": "date-time",
                              "nullable": true
                            },
                            "expires_at": {
                              "type": "string",
                              "format": "date-time",
                              "nullable": true
                            },
                            "created_at": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "updated_at": {
                              "type": "string",
                              "format": "date-time"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": 200,
                  "message": "Transfer initiated successfully",
                  "success": true,
                  "data": {
                    "transfer_reference": "TRANSFER-1712345678-abc12345",
                    "sender_transaction": {
                      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "transaction_type": "withdrawal",
                      "status": "completed",
                      "description": "Invoice payment",
                      "external_reference": "TRANSFER-1712345678-abc12345-DEBIT",
                      "fee_amount": 0,
                      "source_amount": 100,
                      "destination_amount": 100,
                      "source_currency": "USD",
                      "destination_currency": "USD",
                      "created_at": "2026-03-23T13:45:28.138Z",
                      "updated_at": "2026-03-23T13:45:28.263Z"
                    },
                    "recipient_transaction": {
                      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
                      "transaction_type": "deposit",
                      "status": "completed",
                      "description": "Invoice payment",
                      "external_reference": "TRANSFER-1712345678-abc12345-CREDIT",
                      "fee_amount": 0,
                      "source_amount": 100,
                      "destination_amount": 100,
                      "source_currency": "USD",
                      "destination_currency": "USD",
                      "created_at": "2026-03-23T13:45:28.201Z",
                      "updated_at": "2026-03-23T13:45:28.201Z"
                    },
                    "pending_claim": null
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — insufficient balance, unknown recipient, missing rateToken on a cross-currency transfer, or a validation failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the API key has no whitelisted IP configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 403,
                  "message": "This endpoint requires IP whitelisting. Add at least one whitelisted IP to your API key before using withdraw."
                }
              }
            }
          }
        }
      }
    },
    "/wallet/swap": {
      "post": {
        "operationId": "swapCurrency",
        "summary": "Swap Currency",
        "description": "Swaps funds from one of your wallets into another currency. Amounts are in smallest currency units in both directions. Pass a rateToken from GET /wallet/rates to execute at that quoted rate.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SwapRequest"
              },
              "example": {
                "fromCurrency": "USD",
                "toCurrency": "NGN",
                "fromAmount": 1000,
                "description": "Convert USD to NGN",
                "rateToken": "eyJhbGci..."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Swap completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message",
                    "success",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Swap completed successfully"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "transaction": {
                          "$ref": "#/components/schemas/Transaction"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": 200,
                  "message": "Swap completed successfully",
                  "success": true,
                  "data": {
                    "transaction": {
                      "id": "1f2a3b4c-5d6e-4f70-8a91-b2c3d4e5f607",
                      "transaction_type": "swap",
                      "status": "completed",
                      "description": "Convert USD to NGN",
                      "external_reference": "SWAP_1705314600000",
                      "fee_amount": 0,
                      "source_amount": 1000,
                      "destination_amount": 1405399,
                      "source_currency": "USD",
                      "destination_currency": "NGN",
                      "exchange_rate": 1405.399,
                      "created_at": "2024-01-15T10:30:00.000Z",
                      "updated_at": "2024-01-15T10:30:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed, the two currencies are the same, the corridor is not enabled, the rateToken is not usable, or the source wallet has insufficient funds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/wallet/withdraw": {
      "post": {
        "operationId": "withdraw",
        "summary": "Withdraw Funds",
        "description": "Initiates a withdrawal from your wallet to a beneficiary. Either `beneficiaryId` or `inlineBeneficiary` must be provided. Requires an API key with at least one whitelisted IP. For USD international_wire, send as multipart/form-data and attach reference documents under the `documents` field.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WithdrawalRequest"
              },
              "example": {
                "amount": 5000,
                "currency": "NGN",
                "description": "Vendor payment",
                "inlineBeneficiary": {
                  "account_number": "0123456789",
                  "bank_name": "Access Bank",
                  "bank_code": "000014"
                },
                "saveBeneficiary": true
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "description": "Required for USD `international_wire` (reference documents must be attached). Send `inlineBeneficiary` and `metadata` as single JSON-stringified fields — not as bracketed sub-fields.",
                "required": [
                  "amount",
                  "currency",
                  "description"
                ],
                "properties": {
                  "amount": {
                    "type": "integer",
                    "description": "Amount in the smallest currency unit (cents for USD — 100 = $1.00).",
                    "minimum": 1,
                    "example": 1000
                  },
                  "currency": {
                    "type": "string",
                    "example": "USD"
                  },
                  "description": {
                    "type": "string",
                    "description": "Narration for the transaction. Required, 1-500 characters.",
                    "minLength": 1,
                    "maxLength": 500,
                    "example": "Invoice 2291"
                  },
                  "inlineBeneficiary": {
                    "type": "string",
                    "description": "The full beneficiary object, JSON-stringified into one field. Multipart fields are not reconstructed into a nested object, so bracket notation (`inlineBeneficiary[account_name]=…`) will fail with 400. Either this or `beneficiaryId` is required.",
                    "example": "{\"withdrawal_method\":\"international_wire\",\"account_name\":\"Jane Smith\",\"bank_name\":\"Barclays Bank\",\"account_number\":\"12345678\",\"swift_code\":\"BARCGB22\",\"beneficiary_address\":{\"street\":\"123 Main Street\",\"city\":\"New York\",\"state\":\"NY\",\"postalCode\":\"10001\",\"country\":\"US\"},\"bank_address\":{\"street\":\"456 Bank Avenue\",\"city\":\"New York\",\"state\":\"NY\",\"postalCode\":\"10001\",\"country\":\"US\"}}"
                  },
                  "beneficiaryId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "ID of a saved beneficiary. Either this or `inlineBeneficiary` is required."
                  },
                  "externalReference": {
                    "type": "string",
                    "description": "Your own reference for this transaction.",
                    "maxLength": 255
                  },
                  "saveBeneficiary": {
                    "type": "boolean"
                  },
                  "deductFeesFromBalance": {
                    "type": "boolean",
                    "description": "Defaults to true: the fee comes out of your wallet balance and the beneficiary receives the exact amount. Set false to take it out of the amount instead.",
                    "default": true
                  },
                  "metadata": {
                    "type": "string",
                    "description": "Your own key/value data, JSON-stringified into one field. Same limits as the JSON body: at most 20 keys, keys up to 64 characters, scalar values with strings up to 500 characters."
                  },
                  "documents": {
                    "type": "array",
                    "description": "One or more reference documents/invoices. Required for international_wire — without at least one the request fails with 400 \"Reference documents/invoices are required for international wire withdrawals\". Max 50MB per file.",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  },
                  "payerNameId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Which of your registered affiliated payer names the beneficiary should see on this payout. Only an international wire can carry one; naming one on any other rail is a 400. Because international wire must be sent as multipart/form-data, a payout carrying payerNameId is always a multipart request. Omit to use your default payer name if you have set one, and your own business name if you have not. Requires Named Payouts to be enabled."
                  }
                }
              },
              "example": {
                "amount": 1000,
                "currency": "USD",
                "description": "Invoice 2291",
                "inlineBeneficiary": "{\"withdrawal_method\":\"international_wire\",\"account_name\":\"Jane Smith\",\"bank_name\":\"Barclays Bank\",\"account_number\":\"12345678\",\"swift_code\":\"BARCGB22\",\"beneficiary_address\":{\"street\":\"123 Main Street\",\"city\":\"New York\",\"state\":\"NY\",\"postalCode\":\"10001\",\"country\":\"US\"},\"bank_address\":{\"street\":\"456 Bank Avenue\",\"city\":\"New York\",\"state\":\"NY\",\"postalCode\":\"10001\",\"country\":\"US\"}}"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Withdrawal initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Withdrawal initiated successfully"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "transaction": {
                          "type": "object",
                          "description": "The payout as the write path serialises it. The same twelve fields are always present as on the shared Transaction schema; every other field below is omitted entirely when it does not apply, never sent as null.",
                          "required": [
                            "id",
                            "transaction_type",
                            "status",
                            "description",
                            "external_reference",
                            "fee_amount",
                            "source_amount",
                            "destination_amount",
                            "source_currency",
                            "destination_currency",
                            "created_at",
                            "updated_at"
                          ],
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "example": "866b7abd-6cac-40f2-a04f-d6e58bf47d04"
                            },
                            "transaction_type": {
                              "type": "string",
                              "enum": [
                                "withdrawal",
                                "fx_withdrawal"
                              ],
                              "description": "`fx_withdrawal` when the payout converts into another currency.",
                              "example": "withdrawal"
                            },
                            "status": {
                              "type": "string",
                              "description": "Always `pending` on a payout created through this API; it moves on via webhook.",
                              "example": "pending"
                            },
                            "description": {
                              "type": "string",
                              "example": "Vendor payment"
                            },
                            "external_reference": {
                              "type": "string",
                              "description": "Your `externalReference` on non-NGN bank rails; a Rolla-generated reference on NGN and Mobile Money payouts.",
                              "example": "NG-NFNUJTUW"
                            },
                            "fee_amount": {
                              "type": "number",
                              "example": 25
                            },
                            "source_amount": {
                              "type": "number",
                              "nullable": true,
                              "description": "What left your wallet: `amount + fee_amount` under the default `deductFeesFromBalance: true`.",
                              "example": 5025
                            },
                            "destination_amount": {
                              "type": "number",
                              "nullable": true,
                              "description": "What the beneficiary receives.",
                              "example": 5000
                            },
                            "source_currency": {
                              "type": "string",
                              "example": "NGN"
                            },
                            "destination_currency": {
                              "type": "string",
                              "example": "NGN"
                            },
                            "fee_paid_by": {
                              "type": "string",
                              "enum": [
                                "account",
                                "parent_account"
                              ],
                              "description": "Only on tenancies where a parent account pays its subaccounts fees. Absent on ordinary payouts."
                            },
                            "uetr": {
                              "type": "string",
                              "description": "Cross-border payouts only, and only once the rail returns it, which is never on the response to this call. Omitted (not null) until then; read it back from GET /wallet/transaction/{transactionId}."
                            },
                            "tracking_codes": {
                              "type": "object",
                              "description": "Rail tracking references (e.g. IMAD) once the corridor produces them. Omitted (not null) until then, so never present on this response.",
                              "additionalProperties": true
                            },
                            "metadata": {
                              "type": "object",
                              "description": "The metadata you sent, back exactly as you sent it. Omitted entirely (not null) when you sent none.",
                              "additionalProperties": true
                            },
                            "created_at": {
                              "type": "string",
                              "format": "date-time",
                              "example": "2026-03-23T13:45:28.138Z"
                            },
                            "updated_at": {
                              "type": "string",
                              "format": "date-time",
                              "example": "2026-03-23T13:45:28.263Z"
                            },
                            "beneficiary": {
                              "type": "object",
                              "description": "Snapshot of the details the payout was actually sent to. Added by the withdraw controller on top of the shared transaction shape, so it IS returned here as well as by GET /wallet/transaction/{transactionId}. Omitted entirely (not null) when the payout carried no snapshot.",
                              "properties": {
                                "bank_name": {
                                  "type": "string",
                                  "example": "Access Bank"
                                },
                                "bank_code": {
                                  "type": "string",
                                  "example": "000014"
                                },
                                "account_name": {
                                  "type": "string",
                                  "example": "John Doe"
                                },
                                "account_number": {
                                  "type": "string",
                                  "example": "0123456789"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": 200,
                  "message": "Withdrawal initiated successfully",
                  "success": true,
                  "data": {
                    "transaction": {
                      "id": "866b7abd-6cac-40f2-a04f-d6e58bf47d04",
                      "transaction_type": "withdrawal",
                      "status": "pending",
                      "description": "Vendor payment",
                      "external_reference": "NG-NFNUJTUW",
                      "fee_amount": 25,
                      "source_amount": 5025,
                      "destination_amount": 5000,
                      "source_currency": "NGN",
                      "destination_currency": "NGN",
                      "created_at": "2026-03-23T13:45:28.138Z",
                      "updated_at": "2026-03-23T13:45:28.263Z",
                      "beneficiary": {
                        "bank_name": "Access Bank",
                        "bank_code": "000014",
                        "account_name": "John Doe",
                        "account_number": "0123456789"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — validation failure, insufficient balance, a beneficiary the rail cannot pay, or a payer name that is not usable on this rail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 400,
                  "message": "Validation failed",
                  "errors": [
                    {
                      "path": [
                        "inlineBeneficiary",
                        "routing_number"
                      ],
                      "message": "routing_number is required for ACH and domestic wire withdrawals"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the API key has no whitelisted IP configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 403,
                  "message": "This endpoint requires IP whitelisting. Add at least one whitelisted IP to your API key before using withdraw."
                }
              }
            }
          }
        }
      }
    },
    "/wallet/fee": {
      "post": {
        "operationId": "getTransactionFee",
        "summary": "Get Transaction Fee",
        "description": "Quotes the fee for a transaction before you execute it. Fees are configured per rail and per destination country, so send the withdrawal_method (or the beneficiaryId) you will actually pay out on.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionFeeRequest"
              },
              "example": {
                "currency": "NGN",
                "transactionType": "withdrawal",
                "amount": 5000
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fee calculated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message",
                    "success",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Transaction fee retrieved successfully"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "fee": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "integer",
                              "description": "Fee in the smallest unit of the source currency",
                              "example": 50
                            },
                            "currency": {
                              "type": "string",
                              "description": "Currency the fee is charged in (the wallet being debited)",
                              "example": "NGN"
                            },
                            "feeInRecipientCurrency": {
                              "type": "integer",
                              "nullable": true,
                              "description": "Present only on an FX quote (one that sent recipientCurrency): the same fee expressed in recipientCurrency.",
                              "example": 75000
                            },
                            "paid_by": {
                              "type": "string",
                              "enum": [
                                "parent_account"
                              ],
                              "description": "Present only where a parent account settles this account's fees."
                            },
                            "charged_to_account": {
                              "type": "integer",
                              "description": "Present alongside paid_by: what this account is actually debited, which is 0 when the parent pays.",
                              "example": 0
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": 200,
                  "message": "Transaction fee retrieved successfully",
                  "success": true,
                  "data": {
                    "fee": {
                      "amount": 50,
                      "currency": "NGN"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed, the currency is not supported, the beneficiaryId does not belong to your account, or withdrawal_method contradicts the rail saved on that beneficiary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/wallet/transactions": {
      "get": {
        "operationId": "getWalletTransactions",
        "summary": "List Wallet Transactions",
        "description": "A page of the wallet transactions on your account, newest first, filterable by currency, type, status, date range and reference.\n\nTransactions with status `failed` are left out unless you ask for them with `status=failed`.",
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 4,
              "example": "NGN"
            },
            "description": "Filter by **source** currency, so a swap is listed under the currency it was sold from rather than under both."
          },
          {
            "name": "transactionType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "deposit",
                "withdrawal",
                "swap",
                "card_funding",
                "payin",
                "fee"
              ],
              "example": "withdrawal"
            },
            "description": "Filter by type. `fee` lists fees booked as transactions of their own."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "completed",
                "failed",
                "rejected",
                "sent",
                "negotiating",
                "cancelled"
              ],
              "example": "completed"
            },
            "description": "Filter by status. `completed` also returns pending transactions operations have already claimed; `pending` excludes them."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number, starting at 1."
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "Rows per page. Caps at 100."
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-01-01"
            },
            "description": "Inclusive start, `YYYY-MM-DD`."
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-01-31"
            },
            "description": "Inclusive end, `YYYY-MM-DD`."
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "ref-abc"
            },
            "description": "Match on external reference, case-insensitive substring."
          }
        ],
        "responses": {
          "200": {
            "description": "A page of transactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message",
                    "success",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Transaction history retrieved successfully"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/TransactionList"
                    }
                  }
                },
                "example": {
                  "status": 200,
                  "message": "Transaction history retrieved successfully",
                  "success": true,
                  "data": {
                    "transactions": [
                      {
                        "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                        "transaction_type": "withdrawal",
                        "status": "completed",
                        "description": "Vendor payment",
                        "external_reference": "ref-abc123",
                        "fee_amount": 53,
                        "source_amount": 500000,
                        "destination_amount": 499947,
                        "source_currency": "NGN",
                        "destination_currency": "NGN",
                        "created_at": "2024-01-15T10:30:00.000Z",
                        "updated_at": "2024-01-15T10:30:45.000Z"
                      },
                      {
                        "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
                        "transaction_type": "deposit",
                        "status": "completed",
                        "description": "Inbound transfer",
                        "external_reference": "NG-DEP-9F2K1A",
                        "fee_amount": 0,
                        "source_amount": 1000000,
                        "destination_amount": 1000000,
                        "source_currency": "NGN",
                        "destination_currency": "NGN",
                        "virtual_account": {
                          "id": "2b0f3d84-8c1a-4c7e-9f0b-1a2b3c4d5e6f",
                          "currency": "NGN",
                          "method": "bank_transfer",
                          "bank_name": "GTBank",
                          "account_number": "0123456789",
                          "account_name": "Acme Ltd / Rolla"
                        },
                        "payer": {
                          "name": "John Doe",
                          "account_number": "1234567890",
                          "bank_name": "Access Bank"
                        },
                        "created_at": "2024-01-14T09:00:00.000Z",
                        "updated_at": "2024-01-14T09:01:00.000Z"
                      }
                    ],
                    "totalCount": 150,
                    "page": 1,
                    "pageSize": 20,
                    "totalPages": 8
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed on a query parameter, or business context missing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 400,
                  "message": "Validation failed",
                  "errors": [
                    {
                      "code": "too_big",
                      "maximum": 100,
                      "type": "number",
                      "inclusive": true,
                      "path": [
                        "pageSize"
                      ],
                      "message": "Number must be less than or equal to 100"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/wallet/transactions/export": {
      "get": {
        "operationId": "exportWalletTransactions",
        "summary": "Export Transactions",
        "description": "Builds a CSV of the matching transactions and returns a **signed link** to it. The response is JSON — the file itself is fetched from `data.url`, which expires after one hour. Takes the same filters as the transaction listing, without paging; at most 10,000 rows are exported.",
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 4,
              "example": "NGN"
            },
            "description": "Filter by source currency."
          },
          {
            "name": "transactionType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "deposit",
                "withdrawal",
                "swap",
                "card_funding",
                "payin",
                "fee"
              ],
              "example": "withdrawal"
            },
            "description": "Filter by type."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "completed",
                "failed",
                "rejected",
                "sent",
                "negotiating",
                "cancelled"
              ],
              "example": "completed"
            },
            "description": "Filter by status."
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-01-01"
            },
            "description": "Inclusive start, `YYYY-MM-DD`."
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-01-31"
            },
            "description": "Inclusive end, `YYYY-MM-DD`."
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "ref-abc"
            },
            "description": "Match on external reference, case-insensitive substring."
          }
        ],
        "responses": {
          "200": {
            "description": "The export is ready to download",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message",
                    "success",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Transactions exported successfully"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "url",
                        "format",
                        "totalRecords",
                        "exportedRecords"
                      ],
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri",
                          "description": "Signed download link for the CSV. Expires one hour after it is issued."
                        },
                        "format": {
                          "type": "string",
                          "enum": [
                            "csv"
                          ],
                          "example": "csv"
                        },
                        "totalRecords": {
                          "type": "integer",
                          "description": "How many transactions matched the filters.",
                          "example": 317
                        },
                        "exportedRecords": {
                          "type": "integer",
                          "description": "How many were written to the file — the lower of `totalRecords` and 10,000.",
                          "example": 317
                        },
                        "truncated": {
                          "type": "boolean",
                          "enum": [
                            true
                          ],
                          "description": "Present and `true` only when more than 10,000 transactions matched and the file was cut short."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": 200,
                  "message": "Transactions exported successfully",
                  "success": true,
                  "data": {
                    "url": "https://fpqdjdeslwryrsertmji.supabase.co/storage/v1/object/sign/transaction_documents/exports/4f7d3522-3a52-4402-8a0e-f1bd041c3eec/1774432456044.csv?token=eyJr",
                    "format": "csv",
                    "totalRecords": 317,
                    "exportedRecords": 317
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed on a query parameter, or business context missing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Nothing matched the filters, so no file was produced",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 404,
                  "message": "No transactions found for the selected filters"
                }
              }
            }
          },
          "500": {
            "description": "The file could not be generated or its download link could not be signed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/wallet/transaction/{transactionId}": {
      "get": {
        "operationId": "getWalletTransaction",
        "summary": "Get Transaction",
        "description": "Retrieves a specific wallet transaction by either Rolla's transaction ID (a UUID) or the `externalReference` you set when creating it. A non-UUID path segment is matched against the transaction's `external_reference`; if it matches more than one transaction in scope, the most recent is returned.\n\nPartner (white-label tenant) keys read across their whole tenancy, so a transaction found in `GET /accounts/transactions` can be fetched here directly. Send the `X-Account-Id` header to narrow the lookup to a single account.",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "description": "Rolla's transaction ID (UUID), or the `externalReference` you set when creating the transaction.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "byId": {
                "summary": "Rolla's transaction ID",
                "value": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
              },
              "byExternalReference": {
                "summary": "Your own external reference",
                "value": "invoice-8842"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The transaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message",
                    "success",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Transaction retrieved successfully"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "transaction"
                      ],
                      "properties": {
                        "transaction": {
                          "$ref": "#/components/schemas/Transaction"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": 200,
                  "message": "Transaction retrieved successfully",
                  "success": true,
                  "data": {
                    "transaction": {
                      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "transaction_type": "withdrawal",
                      "status": "completed",
                      "description": "Vendor payment",
                      "external_reference": "ref-abc123",
                      "fee_amount": 53,
                      "source_amount": 500000,
                      "destination_amount": 499947,
                      "source_currency": "NGN",
                      "destination_currency": "NGN",
                      "created_at": "2024-01-15T10:30:00.000Z",
                      "updated_at": "2024-01-15T10:30:45.000Z",
                      "beneficiary": {
                        "account_name": "JOHN DOE",
                        "bank_name": "Access Bank",
                        "bank_code": "000014",
                        "account_number": "0123456789"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Transaction ID is required, or business context missing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No transaction with that id or reference inside the scope your key can read. A transaction belonging to someone else answers identically, so ids cannot be probed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 404,
                  "message": "Transaction not found: a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                }
              }
            }
          },
          "500": {
            "description": "The lookup failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/wallet/statement": {
      "get": {
        "operationId": "getStatement",
        "summary": "Get Statement",
        "description": "Opening and closing balances, period totals and the transactions behind them, for one currency. `currency`, `startDate` and `endDate` are all required.",
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "NGN"
            },
            "description": "Currency of the account to draw the statement for. Required."
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2026-01-01"
            },
            "description": "Inclusive start of the period, `YYYY-MM-DD`."
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2026-01-31"
            },
            "description": "Inclusive end of the period, `YYYY-MM-DD`."
          },
          {
            "name": "accountType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "wallet",
                "loan"
              ],
              "example": "wallet"
            },
            "description": "Which side of the book to draw the statement of. Omitted, wallets and credit lines of that currency are reported together."
          }
        ],
        "responses": {
          "200": {
            "description": "Statement data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message",
                    "success",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Statement data retrieved successfully"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "businessName",
                        "currency",
                        "openingBalance",
                        "closingBalance",
                        "totalCredits",
                        "totalDebits",
                        "transactions"
                      ],
                      "properties": {
                        "businessName": {
                          "type": "string",
                          "example": "Acme Corp Ltd"
                        },
                        "currency": {
                          "type": "string",
                          "example": "NGN"
                        },
                        "openingBalance": {
                          "type": "number",
                          "description": "Balance at the start of the period. Minor units of the currency (e.g. `1250` is $12.50), the same scale as the webhook payloads. See Amounts & Currencies.",
                          "example": 500000
                        },
                        "closingBalance": {
                          "type": "number",
                          "description": "Balance at the end of the period. Minor units of the currency (e.g. `1250` is $12.50), the same scale as the webhook payloads. See Amounts & Currencies.",
                          "example": 1000000
                        },
                        "totalCredits": {
                          "type": "number",
                          "description": "Money in over the period. Minor units of the currency (e.g. `1250` is $12.50), the same scale as the webhook payloads. See Amounts & Currencies.",
                          "example": 750000
                        },
                        "totalDebits": {
                          "type": "number",
                          "description": "Money out over the period. Minor units of the currency (e.g. `1250` is $12.50), the same scale as the webhook payloads. See Amounts & Currencies.",
                          "example": 250000
                        },
                        "transactions": {
                          "type": "array",
                          "description": "The rows behind those totals, oldest first. Statement rows report `transaction_type` as it affected this account, so a row can read `received` or `sent` where the underlying transaction is a withdrawal, fee or deposit.",
                          "items": {
                            "$ref": "#/components/schemas/Transaction"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": 200,
                  "message": "Statement data retrieved successfully",
                  "success": true,
                  "data": {
                    "businessName": "Acme Corp Ltd",
                    "currency": "NGN",
                    "openingBalance": 500000,
                    "closingBalance": 1000000,
                    "totalCredits": 750000,
                    "totalDebits": 250000,
                    "transactions": [
                      {
                        "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                        "transaction_type": "deposit",
                        "status": "completed",
                        "description": "Wallet funding",
                        "external_reference": "ref_abc123",
                        "fee_amount": 0,
                        "source_amount": 750000,
                        "destination_amount": 750000,
                        "source_currency": "NGN",
                        "destination_currency": "NGN",
                        "created_at": "2026-01-10T09:15:00.000Z",
                        "updated_at": "2026-01-10T09:15:30.000Z"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Currency missing, no account of that currency, or the statement could not be built",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 400,
                  "message": "Currency is required"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/wallet/virtual-accounts/generate/dynamic": {
      "post": {
        "operationId": "generateDynamicVirtualAccount",
        "summary": "Generate Dynamic Virtual Account",
        "description": "Generates a dynamic (one-time) NGN virtual account for your business. If an active dynamic account already exists and has not expired, it is returned instead.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number",
                    "description": "Expected deposit amount in kobo. Recommended for amount-specific accounts.",
                    "example": 500000
                  }
                }
              },
              "example": {
                "amount": 500000
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Dynamic virtual account generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message",
                    "success",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 201
                    },
                    "message": {
                      "type": "string",
                      "example": "Dynamic virtual account generated successfully"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "virtualAccount"
                      ],
                      "properties": {
                        "virtualAccount": {
                          "$ref": "#/components/schemas/VirtualAccount"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": 201,
                  "message": "Dynamic virtual account generated successfully",
                  "success": true,
                  "data": {
                    "virtualAccount": {
                      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "status": "active",
                      "virtual_account_type": "dynamic",
                      "currency_type": "fiat",
                      "bank_name": "VFD MFB",
                      "account_number": "1234567890",
                      "account_name": "Rolla / Your Business Name",
                      "expires_at": "2024-01-16T10:30:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The account could not be generated, for example when the business has no approved KYB application",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 400,
                  "message": "KYB application is not yet approved or still pending review"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/wallet/virtual-accounts/generate/static": {
      "post": {
        "operationId": "generateStaticVirtualAccount",
        "summary": "Generate Static Virtual Account",
[...]
