{
  "openapi": "3.1.0",
  "info": {
    "title": "Rolla Developer API",
    "description": "API for programmatic payouts and transaction management on the Rolla platform.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.rolla.xyz/api/v1/external",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/banks": {
      "get": {
        "operationId": "getBanks",
        "summary": "List Banks",
        "description": "Returns a list of all Nigerian banks with their names and codes.",
        "responses": {
          "200": {
            "description": "Banks retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "boolean", "example": true },
                    "message": {
                      "type": "string",
                      "example": "Banks retrieved successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/Bank" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/lookup": {
      "post": {
        "operationId": "lookupAccount",
        "summary": "Account Lookup",
        "description": "Validates a bank account number and retrieves the account holder's name.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/LookupRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "boolean", "example": true },
                    "message": {
                      "type": "string",
                      "example": "Account details retrieved successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/LookupResponse"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing required fields",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "Account not found or invalid",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/payouts": {
      "post": {
        "operationId": "initiatePayout",
        "summary": "Initiate Payout",
        "description": "Initiates a bank payout to a beneficiary. The payout is processed automatically.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PayoutRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payout initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "boolean", "example": true },
                    "message": {
                      "type": "string",
                      "example": "Payout initiated successfully"
                    },
                    "data": { "$ref": "#/components/schemas/PayoutResponse" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input or insufficient balance",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/transactions": {
      "get": {
        "operationId": "getTransactions",
        "summary": "Get Transactions",
        "description": "Retrieves a paginated list of transactions with optional filtering.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number (default: 1)",
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results per page (default: 20)",
            "schema": { "type": "integer", "default": 20 }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by transaction status",
            "schema": {
              "type": "string",
              "enum": ["pending", "completed", "failed"]
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Filter transactions from this date (ISO 8601 format)",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Filter transactions until this date (ISO 8601 format)",
            "schema": { "type": "string", "format": "date" }
          }
        ],
        "responses": {
          "200": {
            "description": "Transactions retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "boolean", "example": true },
                    "message": {
                      "type": "string",
                      "example": "Transactions retrieved successfully"
                    },
                    "data": { "$ref": "#/components/schemas/TransactionList" }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Bank": {
        "type": "object",
        "properties": {
          "bankName": { "type": "string", "example": "Access Bank" },
          "bankCode": { "type": "string", "example": "000014" }
        }
      },
      "LookupRequest": {
        "type": "object",
        "required": ["bankCode", "accountNumber"],
        "properties": {
          "bankCode": {
            "type": "string",
            "description": "Bank code from /banks endpoint",
            "example": "000014"
          },
          "accountNumber": {
            "type": "string",
            "description": "10-digit account number",
            "example": "0123456789"
          }
        }
      },
      "LookupResponse": {
        "type": "object",
        "properties": {
          "accountNumber": { "type": "string", "example": "0123456789" },
          "accountName": { "type": "string", "example": "JOHN DOE" },
          "bankCode": { "type": "string", "example": "000014" },
          "bankName": { "type": "string", "example": "Access Bank" }
        }
      },
      "PayoutRequest": {
        "type": "object",
        "required": ["amount", "currency", "beneficiary"],
        "properties": {
          "amount": {
            "type": "number",
            "description": "Amount to send (in major units, e.g., 1000 for ₦1,000)",
            "example": 5000
          },
          "currency": {
            "type": "string",
            "description": "Currency code",
            "example": "NGN"
          },
          "beneficiary": { "$ref": "#/components/schemas/Beneficiary" },
          "remark": {
            "type": "string",
            "description": "Transaction description",
            "example": "Vendor payment"
          },
          "externalReference": {
            "type": "string",
            "description": "Your unique reference for this payout",
            "example": "INV-2024-001"
          }
        }
      },
      "Beneficiary": {
        "type": "object",
        "required": ["accountName", "accountNumber", "bankName", "bankCode"],
        "properties": {
          "accountName": { "type": "string", "example": "JOHN DOE" },
          "accountNumber": { "type": "string", "example": "0123456789" },
          "bankName": { "type": "string", "example": "Access Bank" },
          "bankCode": { "type": "string", "example": "000014" },
          "email": {
            "type": "string",
            "format": "email",
            "example": "john@example.com"
          }
        }
      },
      "PayoutResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique transaction ID"
          },
          "remark": { "type": "string", "example": "Vendor payment" },
          "external_reference": { "type": "string", "example": "INV-2024-001" },
          "fee_amount": {
            "type": "integer",
            "description": "Fee charged (in smallest unit)",
            "example": 5000
          },
          "created_at": { "type": "string", "format": "date-time" },
          "destination_amount": {
            "type": "integer",
            "description": "Amount received by beneficiary (in smallest unit)",
            "example": 500000
          },
          "amount": {
            "type": "integer",
            "description": "Total amount deducted (in smallest unit)",
            "example": 505000
          },
          "beneficiary": {
            "type": "object",
            "properties": {
              "bank_code": { "type": "string" },
              "bank_name": { "type": "string" },
              "account_name": { "type": "string" }
            }
          }
        }
      },
      "TransactionList": {
        "type": "object",
        "properties": {
          "transactions": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Transaction" }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "page": { "type": "integer" },
              "pageSize": { "type": "integer" },
              "total": { "type": "integer" }
            }
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "type": { "type": "string", "enum": ["deposit", "withdrawal"] },
          "status": {
            "type": "string",
            "enum": ["pending", "completed", "failed"]
          },
          "amount": { "type": "integer" },
          "currency": { "type": "string" },
          "description": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "status": { "type": "boolean", "example": false },
          "message": { "type": "string" }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Your Rolla API key"
      }
    }
  }
}
